.p1 {
    border: 3px solid brown;
    width: 400px;
    margin: auto;
}

.p2 {
    border: 3px solid red;
    max-width: 400px;
    margin: auto;
}

.p3 {
    width: 400px;
    height: 300px;
    border: 5px solid black;
    overflow: auto;
}

/* width and max width not same 
notice here overflow is an important thing in css
*/