.box {
    height: 300px;
    width: 300px;
    margin: 100px auto;
    background-color: blueviolet;
    transition-property: all;
    transition-delay: 0.5s;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);


}

.box:hover {
    width: 200px;
    height: 200px;
    background-color: darkgreen;
    border: solid 12px;
    border-color: black;
}